<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.isport"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".GuideActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.netease.isport.MainActivity" >
            
        </activity>
        <!-- <activity
            android:name="com.netease.isport.RegisterActivity" >      
        </activity> -->
        <activity
            android:name="com.netease.isport.LoginActivity" >
            
        </activity>
        
        <activity
            android:name="com.netease.isport.SpinnerActivity" >
        </activity>

        <activity
            android:name="com.netease.isport.PublicActivity" >
        </activity>
        
        
        <activity
            android:name="com.netease.isport.SearchActivity" >
        </activity>
        </application>

</manifest>
